.hermit {
  margin-bottom: 100px;

  .chart{
    margin-top: 50px;
  }

  .string-function {
    margin-top: 50px;
  }

  .width-105 {
    width:105px;
  }

  .name-width {
    width: 70px;
  }

  .btn-primary {
    width: 100%;
  }
}